In [1]:
import pandas as pd

df_1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=[0, 1, 2])

df_1.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [3]:
for idx, row in df_1.iterrows():
    print(idx)
    print(row)

0
A    1
B    4
C    7
Name: 0, dtype: int64
1
A    2
B    5
C    8
Name: 1, dtype: int64
2
A    3
B    6
C    9
Name: 2, dtype: int64

In [4]:
df_2 = df_1.loc[1:2, :]  # 1~2행 추출
df_2.head()

   A  B  C
1  2  5  8
2  3  6  9

In [7]:
print(df_2.iloc[0,0]) # 컴퓨터가 행렬보듯이 보는거
print(df_2.loc[1,'A']) # 진짜 표에서 index 와 column 기준으로 보는거

2
2

In [2]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=[0, 1, 2])

df.iloc[0, 0]  # 1

1