https://colab.research.google.com/drive/13eTxQzJaPzpkF2T6DWMdYzJLPQENZRZt

**로컬 환경이 안되니 colab GPU 환경에서 훈련시킴**

In [7]:
import numpy as np
import pandas as pd

In [8]:
submit = np.load("./output/final_output.npy")

In [10]:
submission_df = pd.read_csv("./output/jhkim_1.csv")
submission_df.head()

   ID  label
0   0      4
1   1      4
2   2      3
3   3      6
4   4      2

In [5]:
submission_df['label'] = submit_list

In [6]:
submission_df.to_csv("./output/jhkim_final.csv",index=False)